<link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.8.min.css"/>

<p>
  <strong>Quel est ton nom d'utilisateur ?</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Quel est ton mail ?</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Quel est ton mot de passe ?</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Editer', edit_user_path(@user) %>
<%= link_to 'Retour', users_path %>
