<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "THP Secret !", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil", root_path %></li>
        <% if logged_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to "Se déconnecter", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Se connecter", login_path %></li>
            <li><%= link_to "S'inscrire", new_user_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
